/*Estilo Global*/
body {
    padding-top: 3rem;
    padding-bottom: 5rem;
    background-color: #105187;
    font-family: 'Roboto', sans-serif;
}

.barra-superior-adm {
    background-color: #C33325;
}

.barra-superior-usuario {
    background-color: #F15811;
}

.barra-superior-publico {
    background-color: #2C8693;
}

.espaco-botao-navbar {
    margin-left: 1rem;
}

.footer {
    color: #777;
}

.botao-salvar {
    float: right;
}

.botao-finalizar-serie {
    margin: 0 auto;
}

.conteudo {
    color: #F0F1D5;
    padding-top: 2rem;
}

.imagem-logo {
    height: 30px;
    width: 30px;
}

.lista-bicicletas {
    color: black;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('/webfonts/Roboto-Regular.ttf');
}

/*Estilo Carousel*/
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 37rem;
    background-color: #777;
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 37rem;
    }

/*Conteúdo Blocos*/
.blocos {
    color: #F0F1D5;
}

    .blocos .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .blocos h2 {
        font-weight: 400;
    }

    .blocos .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }

/*Featurettes*/
.featurette-divider {
    margin: 3rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

/*CSS Responsivo*/
@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
