/*Estilo Global*/
body {
    padding-top: 3rem;
    padding-bottom: 5rem;
    background-color: #1B3E5B;
}

.barra-superior {
    background-color: #0C1824;
}

.espaco-botao-navbar {
    margin-left: 1rem;
}

.footer {
    color: gray;
}

.botao-salvar {
    float: right;
}

.conteudo {
    color: #98C5DB;
    padding-top: 2rem;
}

/*Estilo Carousel*/
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 37rem;
    background-color: #777;
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 37rem;
    }

/*Conteúdo Blocos*/
.blocos {
    color: #98C5DB;
}

    .blocos .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .blocos h2 {
        font-weight: 400;
    }

    .blocos .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }

/*Featurettes*/
.featurette-divider {
    margin: 3rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

/*CSS Responsivo*/
@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/