@model BikeSegura.Models.Suspensoes

@{
    ViewBag.Title = "Excluir Suspensão";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

<div class="container conteudo">
    <div class="row">
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.Nome)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.Nome)</label>
        </div>
        <div class="form-group col-sm-12">
            <div class="botao-salvar">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <a class="btn btn-success" href="@Url.Action("Index", "Suspensoes")" role="button">
                        <i class="fas fa-reply"></i>
                        Voltar
                    </a>
                    <button type="submit" value="Delete" class="btn btn-danger">
                        <i class="fas fa-times"></i>
                        Excluir
                    </button>
                }
            </div>
        </div>
    </div>
</div>
