body {
    padding-top: 5rem;	
    background-color: #1B3E5B;
}

.conteudo {
    color: #98C5DB;
}

.espaco-botao-navbar {
	margin-left: 1rem;
}

.barra-superior {
    background-color: #0C1824;
}

.footer {
    color: gray;
}

.botao-salvar {
    float: right;	
}
