@model BikeSegura.Models.Quadros

@{
    ViewBag.Title = "Detalhes Quadro";
    Layout = "~/Views/Shared/_Administrador.cshtml";
}

<div class="container conteudo">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Material)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Material)
                    </td>
                    <td>
                        <div class="btn" role="group">
                            @using (Html.BeginForm())
                            {
                                <a class="btn btn-success" href="@Url.Action("Index", "Quadros")" role="button">
                                    <i class="fas fa-reply"></i>
                                    Voltar
                                </a>
                                <a class="btn btn-primary" href="@Url.Action("Edit", "Quadros", new { id = Model.Id })" role="button">
                                    <i class="fas fa-pen"></i>
                                    Editar
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
