@model BikeSegura.Models.Marcas

@{
    ViewBag.Title = "Excluir Marca";
    Layout = "~/Views/Shared/_Administrador.cshtml";
}

<div class="container conteudo">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Nome)
                    </td>
                    <td>
                        <div class="btn" role="group">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <a class="btn btn-success" href="@Url.Action("Index", "Marcas")" role="button">
                                    <i class="fas fa-reply"></i>
                                    Voltar
                                </a>
                                <button type="submit" value="Delete" class="btn btn-danger">
                                    <i class="fas fa-times"></i>
                                    Excluir
                                </button>
                            }
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
