@{
    ViewBag.Title = "Login";    
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container conteudo">
        <form>
            <div class="row">
                <div class="form-group col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <label>Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="required">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <label>Senha</label>
                    <input type="password" class="form-control" id="senha" value="" name="senha" placeholder="Senha" required="required">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 offset-sm-3">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
        </form>
    </div>
}
